<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timothy.mapper.PoiTestMapper">


	<select id="isTable" resultType="java.lang.Integer">
        SELECT count(1) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA=#{dbName} AND TABLE_NAME=#{tableName}
    </select>

    <select id="getAllDate" resultType="java.util.HashMap" >
        SELECT * FROM ${tableName} ORDER BY uid DESC
    </select>


</mapper>
